@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

header { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    box-shadow: 0 0 8px black;
    overflow: hidden; 
} 

.headerBtnsWrapper { 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    width: 100%; 
    overflow: hidden; 
} 

.empty {
    flex: 10%; 
}
.logo { 
    flex: 40%;
    font-family: 'Shantell Sans', cursive; 
    font-size: 150%; 
    padding: 10px 0px;  
} 
.logo::first-letter {
    color: green;  
} 


.tabs {
    flex: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    font-size: 120%;
} 
.searchTab, .favorites {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-decoration: none; 
    color: black; 
    gap: 3px; 
    padding: 3px 10px; 
    border-radius: 8px; 
    transition: background-color, color, 0.3s;
} 
.searchTab:hover {
    background-color: green; 
    color: white; 
}
.favorites:hover {
    background-color: rgb(204, 167, 0); 
    color: white; 
}

.btn {
    text-align: center; 
    padding: 20px 10px;
    flex: 50%;
    color: black; 
    font-weight: 300; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px solid black; 
    transition: color, border-right, border-left, 0.3s;
} 

.searchBtn { 
    border-right: 1px solid black; 
}
.recipesBtn { 
    border-left: 1px solid black; 
}

.searchBtn:hover {
    color: green; 
    border-color: green; 
} 
.recipesBtn:hover { 
    color: rgb(38, 0, 255); 
    border-color: rgb(38, 0, 255); 
} 
