@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

.SearchWrapper { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 5px; 
    width: 100%; 
    height: auto; 
    padding: 10px; 
} 

.Search {
    border: 2px solid #727272; 
    border-radius: 3px;
    font-family: 'Shantell Sans', cursive; 
    padding: 8px 12px; 
    width: 70%; 
    outline: none; 
    transition: box-shadow, 0.3s; 
} 

.Search:focus, .Search:hover  {
    box-shadow: 0 0 5px #8b8b8b;
} 

.SearchButton {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: 'Shantell Sans', cursive; 
    font-size: 16px; 
    width: 15%;
    height: 10%;
    padding: 8px 12px; 
    background: rgb(37, 79, 218);
    color: white;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);  
    border-radius: 8px;
    transition: background-color, border-color, 0.3s; 
} 

.SearchButton:hover {
    background-color: rgba(255, 255, 255); 
    border-color: rgb(37, 79, 218);  
    color: rgb(37, 79, 218); 
    text-shadow: 0 0 1px rgb(37, 79, 218); 
    box-shadow: 0 0 2px rgb(37, 79, 218);
} 

@media screen and (max-width: 500px) {
    .SearchButton {
        font-size: 12px; 
    }
} 

@media screen and (max-width: 400px) { 
    .Search {
        padding: 5px 10px; 
    }

    .SearchButton {
        padding: 7px 12px; 
        font-size: 10px; 
    }
} 